#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    width: 25%;
    height: auto;
    margin: 10px 10px;
}

#navigation {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}

.menuItem {
    text-decoration: none;
}