* {
  background-color: #131313;
  color: white;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pageContent {
  width: 90%;
  margin: 0 auto;
}